html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Georgia',serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.618;

    letter-spacing: -.005em;

    color: #fff;
    background-color: #333;
}

h1
{
    font-size: 7.8vw;

    float: left;

    margin: 0;

    writing-mode: vertical-rl;
}

a
{
    overflow: hidden;

    text-decoration: none;

    color: #97867c;
}
ul
{
    list-style-type: none;
}

.menu
{
    font-size: 24px;

    float: right;

    margin-right: 20px;
}
.main
{
    clear: both;
}

.about
{
    clear: both;

    text-align: center;
}
