html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image:    linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ), url('../assets/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
a {
    text-decoration: none;
    overflow: hidden;
}

/* content */
.container {
    height: 100vh;
    text-align: center;
}
